/*@media screen and (max-width: 600px)*/
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){
    @viewport{
        width: 320px;
    }
    body,html{
        width: 100%;
        overflow: auto;
    }
    .container{
        width: 100%;
        height: 100%;
        margin: 0 auto;;
    }


    /*Header*/
    .menu-mobile{
        display: inline-block;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 20px;
        color: var(--corsecundaria);
    }
    .logoaux{
        display: none;
    }
    .logo{
        width: px;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        margin: 50px auto;
    }
    .menu{
        display: block;
        height: 50px;
        width: 100%;
    }
    .menu > ul{
        width: 100%;
        height: 40px;
        display: flex;
    }
    .menu > ul > li {
        width: 25%;
        margin: 30px 5px;
    }
    .menu > ul > li > a{
        font-size: 0.5rem;
    }

    .galeria{
        margin-top: 0;
        top: 0;
    }
    .galeria, .carrosel img{
        width: 100%;
        height: 300px;
    }
    .link h3 a{
        display: none;
    }
    .link i{
        font-size: 22px;
    }
    .slider-buttom{
        margin: 0 auto;
    }
    section.chamada{
        width: 100%;
        height: 400px;
        padding: 10px;
    }
    .chamada p{
        margin: 0;
        font-size: 13px;
        text-align: center;
    }
    .chamada h1{
        font-size: 22px;
        margin: 10px 0;
    }

    .formulario{
        width: 100%;
        position: relative;
    }
    .formulario > input[type=email]{
        position: relative;
        top: 0;
        left: 50%;
        width: 90%;
        transform: translate(-50%, 0);
        margin-left: 0;
    }
    .formulario > input[type=submit]{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
    }
    .formulario > input[type=submit]::-ms-value{
        font-size: 10px;
    }
    .formulario i{
        position: absolute;
        margin: 10px 0 0 -28px;
        top: 0;
        left:55px;

        z-index: 4;
    }

    section.services{
        width: 100%;
        height: auto;
        background-color: white;
        background-image: linear-gradient(var(--verdeclaro), white);
    }
    .service_master{
        height: 80%;
        float: none;
        margin: 0 auto;
        display: block;
        background-image: linear-gradient(var(--verdeclaro), white);
    }

    .services h1{
        text-align: center;
        margin-bottom: 30px;
    }

    #img-master{
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #content-service-master{
        padding: 10px 0px;
        margin: 0 10px;
    }
    #content-service-master h2{
        padding: 10px;
        margin: 0;
    }
    #content-service-master p{
        text-align: center;
        margin-bottom: 15px;
        font-size: 14px;
        color: var(--corsecundaria);
    }
    #content-service-master input{
        width: calc(100% - 10px);
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        display: block;
        margin: 0 auto;
        background-color: var(--corprincipal);
        font-weight: lighter;
    }

    .service-item{
        float: left;
        width: 200px;
        margin:30px 40px 15px 40px;
        color: var(--corsecundaria);
        padding: -25px;
    }
    .service-item p, .service-item ul{
        width: 250px;
    }

    /*Conteudo exclusivo para mobile*/

    .exclusive-mobile{
        display: block;
        position: relative;
        height: 280px;
    }
    .img-projetos{
        background: url(../imagens/fundomob01.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -250px 0;
        width: 100%;
        height: 280px;
        top: 0;
        left: 0;
        position: absolute;
    }
    .content-exclusive{
        position: absolute;
        width: 100%;
        top: 280px;
        right: 0;
        text-align: right;
        padding-right: 10px;
        color: var(--corprincipal);
    }
    .content-exclusive h2{
        color: var(--corprincipal);
        font-size: 15px;
        padding: 15px 30px;
        font-weight: normal;
    }
    .content-exclusive p{
        color: var(--verdelimao);
        font-size: 11px;
        padding: 0 30px;
    }
    .content-exclusive input{
        width: 100px;
        height: 35px;
        border-radius: 25px;
        background-color: var(--verdelimao);
        outline: 0;
        margin: 25px 30px;
        color: white;
        text-transform: uppercase;
        border: 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.331);
    }

    section.sobre{
        margin-top: 300px;
        margin-bottom: 0px;
        display: block;
        height: 350px;
    }
    #sobre-img{
        display: none;
    }
    #content-sobre{
        display: block;
        width: 100%;
        margin: 0 0 0 0;
        background-image: url(../imagens/fundomob02.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -140px 0;
        height: 320px;
    }
    #content-sobre > div{
        width: 100%;
        margin-left: 15px;
    }
    #content-sobre > div >h1{
        font-size: 18px;
    }
    #content-sobre > div >p{
        font-size: 12px;
        padding: 30px 0;
    }
    #autor{
        width: 80%;
        margin: 0;
        padding: 5px;
    }
    #autor h2:first-of-type{
        font-size: 16px;
    }
    #autor h2{
        font-size: 11px;
        padding: 0;
        margin: 0px 0px -3px 0;
    }
    #autor p{
        font-size: 9px;
    }
    #autor .underline{
        
        margin-bottom: 5px;
    }
    .circle{
        margin: 10px 10px 10px 10px;
        width: 60px;
        height: 60px;
    }
    .marcadagua{
        position: relative;
        bottom: 0;
    }
    .mobile-service{display: none;}

    .redes_sociais > ul >li{
        display: inline-block;
        margin: 5px 30px 5px 0;
        font-size: 20px;
    }
    .redes_sociais i{
        font-size: 25px;
    }
    .redes_sociais a{
        font-size: 16px;
    }
    .footer-mobile{
        width: 100%;
        height: 300px;
        position: relative;
    }
        .logo-footer{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .marcadagua{
            position: absolute;
            height: 300px;
            left: 50%;
            bottom: 0;
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            opacity: 0.1;
            width: 100%;
        }
}